# Unity 폴더 무시
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Build]/
/[Builds]/
/[Logs]/
/[MemoryCaptures]/
/[UserSettings]/

# Visual Studio 프로젝트 파일 무시
*.csproj
*.sln
*.userprefs

# OS 생성 파일 무시
.DS_Store
Thumbs.db

*.unitypackage
